<footer class="border">
    <ul>
        <li><a href="">Mentions Légales</a></li>
        <li><a href="">Carte du site Web</a></li>
        <li><a href="">Informations de contact</a></li>
    </ul>

    <div>
        <ul class="d-flex">
            <li class="me-2"><a target="_blank" href="https://www.frouard.fr/"><img src="../../assets/img/logo_ville_de_Frouard.png"
                        alt="Lien vers site de la ville de Frouard" width="40rem" height="50rem"></a></li>
            <li class="me-2"><a target="_blank" href="https://www.intramuros.org/frouard/associations/71553"><img
                        src="../../assets/img/logo_centre_communal_action_sociale.png"
                        alt="Lien vers site du centre communal d'action sociale" width="40rem" height="50rem"></a></li>
            <li class="me-2"><a target="_blank" href="https://www.meurthe-et-moselle.fr/"><img
                        src="../../assets/img/logo_meurthe_&_moselle.jpg" alt="Lien vers site de meurthe-et-moselle"
                        width="40rem" height="50rem"></a></li>
            <li class="me-2"><a target="_blank" href="https://www.gouvernement.fr/"><img
                        src="../../assets/img/Logo_de_la_République_française_(1999).svg.png"
                        alt="Lien vers site de la république_française" width="40rem" height="50rem"></a></li>
            <li class="me-2"><a target="_blank" href="https://www.mmhabitat.fr/"><img
                        src="../../assets/img/logo_meurthe_&_moselle.jpg"
                        alt="Lien vers site du conseil départemental de meurthe-et-moselle" width="40rem"
                        height="50rem"></a></li>
            <li class="me-2"><a target="_blank" href="https://www.caf.fr/"><img src="../../assets/img/logo_caf.png"
                        alt="Lien vers site de la caf" width="40rem" height="50rem"></a></li>
        </ul>

        <ul>
            <li>

            </li>
        </ul>
    </div>
</footer>