RewriteEngine on
Options +FollowSymLinks
RewriteRule home index.php?page=home
RewriteRule accountCreation index.php?page=accountCreation
RewriteRule accountConnection index.php?page=accountConnection
RewriteRule accountLogout index.php?page=accountLogout
RewriteRule userSpace index.php?page=userSpace
RewriteRule educationalEstablishment index.php?page=educationalEstablishment
RewriteRule administratorSpace index.php?page=administratorSpace